[Unit]
Description=droidmedia to v4l2
After=lxc@android.service
ConditionPathExists=/dev/v4l2loopback

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStartPre=/usr/bin/waitforservice init.svc.*camera*
ExecStart=/usr/bin/droidcam2v4l2

[Install]
WantedBy=multi-user.target
